							<!--Create a footer-->
							<div class="container">
								<div class="row">
									<div class="col-md-12" id="footers">
										<div class="row">
											<div class="col-md-4"></div>
											<div class="col-md-5" id="content2">
												<p class="copyRight">
													© 2015 Ohana Private Resort. All rights reserved</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12" id="content">
													<a href="index.php" class="footer2">Home&nbsp&nbsp<span class="slash">|</span></a>&nbsp
													<a href="gallery.php" class="footer2">Gallery&nbsp&nbsp<span class="slash">|</span></a>&nbsp
													<a href="note.php" class="footer2">Accommodation&nbsp&nbsp<span class="slash">|</span></a>&nbsp&nbsp
													<a href="about.php" class="footer2">About Us&nbsp&nbsp<span class="slash">|</span></a>&nbsp&nbsp
													<a href="contact.php" class="footer3">Contact Us</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	



	<link rel="stylesheet" href="frontEnd/css/photoswipe.css" />
	<link rel="stylesheet" href="frontEnd/css/default-skin/default-skin.css">
	<script src="frontEnd/js/photoswipe2.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="frontEnd/js/photoswipe.min.js"></script>
	<script src="frontEnd/js/photoswipe-ui-default.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="frontEnd/js/jquery-1.11.2.js"></script>
	<script src="frontEnd/js/dates_validation.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="frontEnd/js/bootstrap.min.js"></script>
	<script src="frontEnd/js/validator.min.js"></script>
	<script src="frontEnd/js/animation.js"></script>
	<script src="frontEnd/js/animation2.js"></script> 
    <script src="frontEnd/js/jquery-1.7.1.min.js"></script>
	<script src="frontEnd/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script src="frontEnd/js/dpickerfunction.js"></script>
	<script src="frontEnd/js/jquery.min.js"></script>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
    <script type="text/javascript" src="frontEnd/js/jquery-1.11.3.min.js"></script>  
    <script type="text/javascript" src="frontEnd/js/jquery.gomap-1.3.3.min.js"></script>
    <script src="frontEnd/js/jquery-ui.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {

			$("#map").goMap({
		        markers : [
		            {
		                latitude: 14.901162,
		                longitude: 120.974979,
		                zoom : 15,
		                scaleControl: true,
		                navigationControl: true,
		                scrollwheel: false,
		                title: 'Marker 1'
		            }
		        ],
       			zoom : 15,
       			maptype: 'TERRAIN'


   			 }); 


			function modal() {
				$('#login_modal').modal('show');
			}
		}); //End of ready function
	</script>
</body>
</html>	